<div class="dashboard-container">
    <mat-card class="dashboard-container__list-container">
        <div class="dashboard-container__list-container__image-container" [ngStyle]="{'background-image': 'url(../../../assets/images/image-placeholder.png)'}">
            <!-- <img src="../../../assets/images/image-placeholder.png"> -->
        </div>
        <div class="dashboard-container__list-container__desc-container">
            <p>first organization</p>
        </div>
    </mat-card>
    <mat-card class="dashboard-container__list-container">
            <div class="dashboard-container__list-container__image-container" [ngStyle]="{'background-image': 'url(../../../assets/images/image-placeholder.png)'}">
                <!-- <img src="../../../assets/images/image-placeholder.png"> -->
            </div>
            <div class="dashboard-container__list-container__desc-container">
                <p>second organization</p>
            </div>
    </mat-card>
    <mat-card class="dashboard-container__list-container">
            <div class="dashboard-container__list-container__image-container" [ngStyle]="{'background-image': 'url(../../../assets/images/image-placeholder.png)'}">
                <!-- <img src="../../../assets/images/image-placeholder.png"> -->
            </div>
            <div class="dashboard-container__list-container__desc-container">
                <p>second organization</p>
            </div>
    </mat-card>
    <mat-card class="dashboard-container__list-container">
            <div class="dashboard-container__list-container__image-container" [ngStyle]="{'background-image': 'url(../../../assets/images/image-placeholder.png)'}">
                <!-- <img src="../../../assets/images/image-placeholder.png"> -->
            </div>
            <div class="dashboard-container__list-container__desc-container">
                <p>second organization</p>
            </div>
    </mat-card>
</div>
