<div class="events-container">
  <div class="header-container">
    <h1>
      Events
    </h1>
    <div class="header-container__button">
        <button class="button--state-submit" mat-raised-button color="primary" (click)="openEventDialog('add')">
          <mat-icon>add_box</mat-icon>
          Add Events
        </button>
    </div>
  </div>

  <!-- events list -->
  <ng-container *ngIf = "events.length > 0">
    <mat-card *ngFor="let event of events"  class="list-container">
        <div class="list-container__image-container"
          [ngStyle]="{'background-image': 'url(../../../assets/images/logo1.jpg)'}">
        </div>
        <div class="list-container__desc-container">
          <div class ="list-container__desc-container__button-container">
            <button
              mat-icon-button
              (click)=select.open() class="list-container__desc-container__button-container--button">
              <mat-icon>more_horiz</mat-icon>
              <mat-select #select class="list-container__desc-container__button-container--button__crud-select">
                <mat-option (click)="openEventDialog('edit', event)">Edit</mat-option>
                <mat-option (click)="openWarningDialog(event)">Delete</mat-option>
              </mat-select>
            </button>
          </div>
          <div class ="list-container__desc-container__name-container">
            <h2>{{ event?.name }}</h2>
          </div>
          <div class ="list-container__desc-container__date-container">
            <p>{{ event?.eventDate | date: 'EEEE, dd MMM yyyy' }}</p>
          </div>
        </div>
    </mat-card>
  </ng-container>

  <div class="error-container" *ngIf ="events.length === 0">
    <p>No Events Related To This Organization.. You Can Add Events </p>
  </div>

</div>
