<div class="auth-outer-container">
  <div class="auth-intro-container">
    <img src="assets/images/background.jpg">
  </div>
  <div class="auth-form-container">
    <mat-card>
      <div class="card-container">
        <div class="login-logo">
          <div>E-Man</div>
        </div>
        <div class="auth-header">
          <mat-card-header class="login-heading">
            <mat-card-title>
              <h2>FORGOT PASSWORD</h2>
            </mat-card-title>
          </mat-card-header>
        </div>
        <div class="auth-content">
          <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Enter your email" name="email" formControlName="email">
              <mat-error *ngIf="forgotPasswordControls.email.hasError('email')">
                Invalid <strong>Email address</strong>.
              </mat-error>
            </mat-form-field>
            <div class="auth__button">
              <button class="button--state-submit" [disabled]="forgotPasswordForm.get('email').invalid" mat-raised-button color="primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="auth-footer">
          <a routerLink="/login">Back To Login</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
