<nav id="sidebar">
    <div class="sidebar-header">
        <h3>E-MAN</h3>
    </div>
    
    <ul class="list-unstyled components">
        <li class="active">
            <a routerLink="/admin" routerLinkActive="active">
                <mat-icon>description</mat-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/organizations" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                <span>Organizations</span>
            </a>
        </li>
        <li>
            <a href="#">
                <mat-icon>calendar_today</mat-icon>
                <span>Events</span>
            </a>
        </li>
        <li>
            <a href="#">
                <mat-icon>assignment</mat-icon>
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="#">
                <mat-icon>account_circle</mat-icon>
                <span>Contact</span>
            </a>
        </li>
    </ul>
</nav>