.login-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #dddddd;
    padding: 15px;
    width: 50%;
    margin: 15% auto;
    & button {
        width: 25%;
        margin: 0 auto;
    }
  }