@import "../../../../styles/e-man/variables";
.header-navbar{
  background-color: $em-grey-1;
  color: $em-white;
  .header-sidenav-content{
    flex: 1%;
  }
  button{
    margin: 10px;
  }
}
.avatar {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  position: relative;
  top: 6px;
}
.mat-menu-item {
    &:hover{
      color: $em-white;
      background-color: $em-purple;
      outline: none;
    }
}
