@import "../../../../styles/e-man/variables";

.header-navbar {
  background-color: $em-grey-1;
  color: $em-white;

  &__header-sidenav-content {
    flex: 1%;
  }

  &____menu-button {
    margin: 10px;
  }

  &__avatar {
    width: 26px;
    height: 26px;
    margin-right: 5px;
    position: relative;
    top: 6px;
  }
}

.mat-menu-item {
  &:hover {
    color: $em-white;
    background-color: $em-purple;
    outline: none;
  }
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: 64px !important;
}
