<mat-toolbar class="header-navbar">
    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon >menu</mat-icon>
    </button>
    <span class="header-sidenav-content"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/admin/profile']">
            <img class="avatar" src="../../../../assets/images/user.png">
            <span>{{user?.firstName | titlecase}} {{user?.lastName | titlecase }}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>lock</mat-icon>
            <span>Log Out</span>
        </button>
    </mat-menu>
</mat-toolbar>
