<!-- <div class="organizations-container">
  <div class="header-container">
    <h1>
       Organizations
    </h1>
    <div class="header-container__button">
        <button class="button--state-submit" mat-raised-button color="primary" (click)="openOrgDialog('add')">
            <mat-icon>add_box</mat-icon>
            Add Organization
          </button>
    </div>
  </div> -->

  <!-- organization list -->
  <!-- <ng-container *ngIf = "organizations.length > 0">
    <mat-card *ngFor="let organization of organizations" class="list-container">
      <div class="list-container__image-container"
        [ngStyle]="{'background-image': 'url(../../../assets/images/image-placeholder.png)'}">

        <button
          mat-icon-button
          (click)=select.open() class="list-container__image-container__button">
          <mat-icon>more_horiz</mat-icon>
          <mat-select #select class="list-container__image-container__button__crud-select">
            <mat-option (click)="openOrgDialog('edit', organization)">Edit</mat-option>
            <mat-option (click)="openWarningDialog(organization)">Delete</mat-option>
          </mat-select>
        </button>
      </div>
      <div class="list-container__desc-container">
          <a routerLink = "{{organization._id }}/events">{{ organization.name }}</a>
      </div>
    </mat-card>
  </ng-container>

  <div class="error-container" *ngIf ="organizations.length === 0">
    <p>No Organization Avaliable.. You Can Add New Organization. </p>
  </div>
</div> -->


<div class="organizations-container">
  <div class="organizations-container__top-container">
    <h1>
      <mat-icon>group</mat-icon>
      Organizations
   </h1>
   <div class="organizations-container__top-container__search">
      <mat-form-field color="white">
        <span matPrefix class="search-icon"><mat-icon matPreffix>search</mat-icon> &nbsp;</span>
        <input matInput type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
   </div>
   <div class="organizations-container__top-container__button">
      <button class="button--state-submit" mat-raised-button (click)="openOrgDialog('add')">
        Add Organization
      </button>
   </div>
  </div>
  <div class="organizations-container__bottom-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 organizations-container__bottom-container__table">

      <ng-container matColumnDef="no.">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{ i +1  }} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img src= "../../../assets/images/image-placeholder.png" />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef> Created at </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | date: 'EEEE, dd MMM yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="openOrgDialog('edit', element)">
            Edit
          </button>
        </td>
      </ng-container>

      <tr class="organizations-container__bottom-container__table--row" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="organizations-container__bottom-container__table--row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

