<div class="signup-outer-container">
  <mat-card>
      <mat-card-header class="">
          <mat-card-title>
            <h3>REGISTER ACCOUNT</h3>
          </mat-card-title>
      </mat-card-header>


      <!-- form -->
      <form class="signup-form" [formGroup]="signupForm" (submit)="onSubmit()">
        
        <!-- first name   -->
        <mat-form-field>
          <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
          <!-- <mat-error *ngIf="firstName.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
          <!-- <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="User Name" name="userName" formControlName="userName">
          <!-- <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>


        <!-- email   -->
        <mat-form-field>
            <input matInput placeholder="Email" name="email" formControlName="email">
            <!-- <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>

        <!-- password -->
        <mat-form-field>
            <input matInput placeholder="Input" type="password" name="password" placeholder="Password" formControlName="password">
              <!-- <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
              </mat-error> -->
        </mat-form-field>

        <section class="sec-remember">
            <mat-checkbox
                class="example-margin"
                [labelPosition]="after">
              Accept Terms and Condition
            </mat-checkbox>
          </section>

        <button  class="btnSubmit" mat-raised-button color="primary">Submit</button>
        </form> 

        <section class="sec-already-acc">
            <span class="text">Already have an Account: <a href="javescript:void(0)">Login</a></span>
        </section>
  </mat-card>
</div>