<div class = "signup-outer-container">
  <div class="row">
    <div class="signup-intro-container" >
  
    </div>
    <div class="signup-form-container">
      <mat-card>
        <div class="card-container">
            
            <div class="signup-header">
                <mat-card-header>
                    <mat-card-title>
                      <h2>CREATE AN ACCOUNT</h2>
                    </mat-card-title>
                </mat-card-header>
            </div>
            
            <!-- Error Box -->
            <div class="signup-error" *ngIf="showErrorBox">
              <div class="error-message">
                {{ $errorMessage }}
              </div>
              <mat-icon class="em-icon" (click)="hideErrorBox($event)">clear</mat-icon>
            </div>
            <!-- form -->
            <div class="signup-content">
              <form [formGroup]="signupForm" (submit)="onSubmit()">
                <mat-form-field>
                  <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
                  <mat-error *ngIf="signupControls.firstName.hasError('required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="signupControls.firstName.hasError('pattern')">
                    Provide Valid <strong>First Name e.g John</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
                  <mat-error *ngIf="signupControls.lastName.hasError('required')">
                    Last Name is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="signupControls.lastName.hasError('pattern')">
                    Provide Valid <strong>Last Name e.g doe</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="User Name" name="username" formControlName="username">
                  <mat-error *ngIf="signupControls.username.hasError('required')">
                    User Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" name="email" formControlName="email">
                    <mat-error *ngIf="signupControls.email.hasError('required')">
                      Email is <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="signupControls.email.hasError('email')">
                        Invalid <strong>Email address</strong>.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Input" type="password" name="password" placeholder="Password" formControlName="password">
                      <mat-error *ngIf="signupControls.password.hasError('required')">
                        Password is <strong>required</strong>.
                      </mat-error>
                </mat-form-field>
                <div class="signup__checkbox">
                    <mat-checkbox
                      [labelPosition]="after">
                      Accept Terms and Condition
                    </mat-checkbox>
                </div>
                <div class="signup__button">
                    <button class="button--state-submit" mat-raised-button color="primary" [disabled]="requestSent">Register</button>
                </div>
              </form>
            </div>
            <div class="signup-footer">
              <span>Already have an account?</span>
                <a routerLink="/login">Login</a>
            </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>



