@import "../../../../styles/e-man/_variables";
.dialog-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header-container {

    &--heading {
      text-transform: capitalize;
    }
  }
  &__content-container {

    &__uploadImage {

      &-btn {
        width: 104px;
        padding: 0px;
        padding-left: 4px;

        ::ng-deep &-input {
          position: relative;
          left: -94px;
          opacity: 0;
        }
      }

      &__queue-card {
        height: 20px;
        margin: 20px 0px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: $em-light-grey;

        &__title {
          color: $em-purple;
          font-size: 15px;
        }

        &__icon {
          font-size: 19px;
          color: $em-grey;
          cursor: pointer;
        }
      }
    }

    &__footer-container{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

}

