@import "../../../../styles/e-man/_variables";
.dialog-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__header-container{
    &--heading{
      text-transform: capitalize;
    }
  }
  &__content-container{
    &__uploadImage{
      &-upload{
        ::ng-deep & mat-card {
          height: 50px;
          padding: 5px;
          margin-top: 10px;
          ::ng-deep & .file-info{
            font-size: 14px;
          }
          ::ng-deep & span{
            font-size: 13px;
          }
        }
      }
       ::ng-deep &-queue{
        & button {
          margin-right: 10px;
        }
      }
    }
  }
  &__footer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

