<div class="dialog-container">
    <div class="dialog-container__header-container">
        <h1 mat-dialog-title>{{data.header}}</h1>
    </div>
    <div class="dialog-container__content-container">
        <mat-dialog-content>
            <form class="dialog-container__content-container__entity-form" [formGroup]="entityDialogForm">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{data.entityType}} Name" formControlName="name">
                    <mat-error *ngIf="entityControls.name.hasError('required')">
                      Name is <strong>required</strong>.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{data.entityType}}'s Description" formControlName="description">
                  <mat-error *ngIf="entityControls.description.hasError('required')">
                      Description is <strong>required</strong>.
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf= "isOrganization">
                  <input matInput [matDatepicker]="picker" placeholder="Select {{data.entityType}} Date" formControlName="organizationDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="entityControls.organizationDate.hasError('required')">
                      Date is <strong>required</strong>.
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf= "!isOrganization">
                  <input matInput [matDatepicker]="picker" placeholder="Select {{data.entityType}} Date" formControlName="eventDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="entityControls.eventDate.hasError('required')">
                      Date is <strong>required</strong>.
                  </mat-error>
                </mat-form-field>

                <div class="dialog-container__content-container__entity-form__uploadImage">
                  <label for="singleFile" class="dialog-container__content-container__entity-form__uploadImage-label">Upload Image</label>
                  <input id="singleFile" class="dialog-container__content-container__entity-form__uploadImage-input" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
                  <br>

                  <mat-file-upload-queue #fileUploadQueue
                    [fileAlias]="'file'"
                    [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
                    <mat-file-upload class="dialog-container__content-container__entity-form__uploadImage-upload" [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                  </mat-file-upload-queue>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions class ="dialog-container__content-container__footer-container">
          <button mat-raised-button color="warn" mat-dialog-close>Close</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="entityDialogForm.value" [disabled]="entityDialogForm.invalid">Submit</button>
        </mat-dialog-actions>
    </div>
  </div>
