<div class = "auth-outer-container">
  <div class="row">
    <div class="auth-intro-container" >

    </div>
    <div class="auth-form-container">
      <mat-card>
        <div class="card-container">

            <div class="auth-header">
                <mat-card-header>
                    <mat-card-title>
                      <h2>LOGIN TO YOUR ACCOUNT</h2>
                    </mat-card-title>
                </mat-card-header>
            </div>
            <div class="auth-content">
              <form [formGroup]="loginForm" (submit)="onSubmit()">
                <mat-form-field>
                    <input matInput placeholder="Email" name="email" formControlName="email">
                    <mat-error *ngIf="loginControls.email.hasError('required')">
                      Email is <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="loginControls.email.hasError('email')">
                        Invalid <strong>Email address</strong>.
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" name="password" placeholder="Password" formControlName="password">
                      <mat-error *ngIf="loginControls.password.hasError('required')">
                        Password is <strong>required</strong>.
                      </mat-error>
                </mat-form-field>
                <div class="auth__checkbox__forgot">
                    <mat-checkbox
                      labelPosition="after">
                      Remember Me
                    </mat-checkbox>
                    <a class="forgot__password" href="javascript:void(0)">Forgot Password?</a>
                </div>
                <div class="auth__button">
                    <button class="button--state-submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">LOGIN</button>
                </div>
              </form>
            </div>
            <div class="auth-footer">
              <span>Don't have account?</span>
                <a routerLink="/register">Create Account</a>
            </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
