<div class="gallery-container">
  <div class="gallery-container__header-container">
    <h1>
      <!-- <mat-icon>photo_library</mat-icon> -->
      <span>{{event?.name }}</span> image gallery
    </h1>
    <div class="gallery-container__header-container__btn">
      <button class="button--state-add" mat-raised-button color="primary" (click)="openDialog()">
        Add Images
      </button>
    </div>
  </div>

  <div class="gallery-container__body-container">
    <div *ngIf="images.length > 0" class="gallery-container__body-container__list-container">
      <mat-card class="gallery-container__body-container__list-container__image-card" *ngFor="let image of images">
        <img
          class="gallery-container__body-container__list-container__image-card__image"
          mat-card-image src="{{apiBaseUrl}}/{{ image?.path }}" alt="{{event?.name}}"
        >
      </mat-card>
    </div>
    <ng-container *ngIf="images.length == 0">
      No Images for this Event
    </ng-container>
  </div>

</div>
