@import "variables";

.auth-outer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    .auth-intro-container{
        background: $em-black;
        display: flex;
        flex: 1;
        position: relative;
        .title {
          position: absolute;
          // top: 0;
          // left: 0;
          width: 100%;
          // background: rgba(0, 0, 0, 0.7);
          // height: 60px;
          color: wheat;
          display: flex;
          justify-content: center;
          align-items: center;
          .e-man-title{
            display: flex;
            flex-direction: row;
            opacity: 0.6;
            font-size: 56px;
            font-family: 'Indie Flower';
          }
        }
    }
    .auth-intro-container img{
      opacity: 0.5;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
    .auth-form-container{
        min-height: 100vh;
        max-width: 350px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        mat-card{
            height: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .auth-header{
                display: flex;
                justify-content: flex-start;

                .login-heading {
                  display: flex;
                  width: 100%;
                  justify-content: center;
                }

                h2{
                    font-size: 20px;
                    font-weight: 600;
                }

            }
        }
        .card-container{
            display: flex;
            flex-direction: column;
            .login-logo {
              display: flex;
              width: 100%;
              justify-content: center;
              font-size: 60px;
              font-family: 'Indie Flower';
              .image {
                width: 100px;
                height: 100px;
                margin-bottom: 20px;
              }
            }
            .auth-content{
                margin-top: 10px;
                padding: 10px;
                input.-webkit-autofill{
                    background-color: $em-white;
                }
                mat-form-field{
                    width: 100%;
                    &.mat-form-field{
                        font-size: 15px;
                    }
                }
                .custom-password-error {
                    p {
                        margin: 0px;
                        color: red;
                        font-size: 12px;
                    }
                }
                .auth__checkbox__forgot {
                    display: flex;
                    justify-content: space-between;
                    font-size: 13px;
                    margin-top: 20px;
                    font-weight: bold;
                    align-items: center;
                    .forgot__password {
                      font-size: 12px;
                      text-decoration: none;
                      color: $em-purple;
                    }
                }
                .auth__checkbox{
                    display: flex;
                    justify-content: center;
                    font-size: 13px;
                    margin-top: 20px;
                    font-weight: bold;
                    .forgot__password{
                        font-size: 12px;
                    }
                }
                .auth__button{
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;
                    .button--state-submit{
                        width: 100%;
                    }
                }
            }
            .auth-footer{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 25px;
                font-size: 13px;
                font-weight: bold;
                a{
                    color: $em-purple;
                    text-decoration: none;
                }
            }
        }

    }
}

::ng-deep .success-message {
  background-color: $em-green !important;
}

::ng-deep .mat-snack-bar-container {
  background-color: $em-red2;
}

@media (max-width: $widthsm) {
    .auth-form-container{
        .auth-form-container{
            width: 300px;
            min-width: 300px;
            max-width: 300px;
        }
    }
}

@media (max-width: $widthxs) {
    .auth-outer-container{
        .auth-form-container{
            width: 100%;
            max-width: 100%;
            mat-card{
                padding: 30px 20px;
                .auth-header{
                    display: flex;
                    justify-content: center;
                    h2{
                        font-size: 21px;
                    }
                }
            }
            .card-container{
                .auth-content{
                    padding: 0px 40px;
                    .auth__checkbox__forgot {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .forgot__password {
                          margin-top: 16px;
                        }
                    }
                }
            }

        }

        .auth-intro-container{
            display: none;
        }
    }

}
