@import "variables";

.entity-container {
  padding: 30px;
  margin-top: 30px;

  & .error-container {
    font-size: 20px;
    color: $em-black;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 20px;

    & p {
      text-transform: capitalize;
    }
  }

  &__top-container {
    padding: 80px 40px 80px 40px;
    background-color: $em-purple;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: $em-white-1;
      letter-spacing: 2.9px;
      font-weight: 100;
      font-size: 30px;
      flex: 1;
    }

    &__search {
      color: $em-white-1;
      width: 300px;

      mat-form-field {
        letter-spacing: 2px;
        width: 100%;
        .search-icon {
          position: relative;
          top: 6px;
          font-size: 14px;
        }

        font-size: 15px;

        &.mat-focused {
          ::ng-deep .mat-form-field-ripple {
            background-color: $em-white-1;
            transform: none;
          }
        }

        ::ng-deep .mat-form-field-wrapper {
          .mat-form-field-underline {
            background-color: $em-white-1;
          }

          .mat-form-field-label {
            color: $em-white-1;
          }
        }
      }
    }

    &__actions-container {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: $widthxs) {
  .entity-container {
    &__top-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0px 40px 0px;

      &__search {
        margin-bottom: 20px;
      }

      &__button {
        margin-bottom: 20px;
      }
    }

    &__bottom-container {
      &__table {
        position: relative;
        top: -22px;
      }
    }
  }
}

@media (max-width: $widthsm) {
  .entity-container {
    &__top-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px 0px 40px 0px;

      &__search {
        margin-bottom: 20px;
      }

      &__button {
        margin-bottom: 20px;
      }
    }

    &__bottom-container {
      &__table {
        position: relative;
        top: -22px;
      }
    }
  }
}
