//SCREEN BREAK-POINTS
$widthxs: 575.98px;
$widthsm: 767.98px;
$widthmd: 991.98px;
$widthlg: 1199.98px;


//COLORS
$em-purple: #673ab7;
$em-white: white;
$em-white-1: #fafafa;
$em-light-grey: #efefef;
$em-grey: #8a8a8a;
$em-grey-1:#6b6969;
$em-grey-2: #c8c8c8;
$em-dark-grey: #2d323e;
$em-black: black;
$em-transparent-dark-grey: rgba(255, 255, 255, 0.034);